<div class="row mt-3">
    <div class="col-12 text-right" id="top-paginator-container">
        <nav class="paginator-object">
            <ul class="pagination">
                <li class="page-item pagination-prev"><a class="page-link" href="#">&lt;</a></li>
                <li class="page-item pagination-next"><a class="page-link" href="#">&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
<table id="created-url-list" class="table table-hover d-none">
    <thead>
        <tr>
            <th>Исходный URL</th>
            <th>Короткий URL</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="row">
    <div class="col-12 text-right" id="bottom-paginator-container">
    </div>
</div>